.header {
  text-align: center;
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: -0.02em;
  padding: 0;
  color: #1a202c;
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
